version: '3.7'
services:
  jenkins-slave:
    image: "public.ecr.aws/zebrunner/jenkins-slave:${TAG_JENKINS_SLAVE}"
    container_name: jenkins-slave
    env_file:
      - variables.env
    volumes:
     - "/var/run/docker.sock:/var/run/docker.sock"
     - "/tmp/zebrunner:/tmp/zebrunner"
    ports:
     - "8000:8000"
    restart: always
